.resources__logo {
  margin: 0;
  padding: 0;
  width: 270px;
  height: 38px;
  object-fit: contain;
  object-position: center;
  transition: opacity 0.5s linear;
}

.resources__logo:hover {
  opacity: 0.5;
}
